
.origin-theme {
	--background-color : #333333;
	--dark-background-color : #222222;
	--text-color : #00a7df;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    background-color: var(--background-color);
    color: var(--text-color);
}
table {
    border-color: var(--text-color);
    border-style: none;
}

td, th {
    border: none;
    background-color: var(--dark-background-color);
    padding: 4px;
    text-align: center;
}
th {
    background-color: black;
    padding: 2px;
}


button {
    color: var(--text-color);
    font-size: 8pt;
    text-align: center;
    padding: 2px;
    margin: 3px;
    background-color: black;
    border-color: var(--text-color);
    border-radius: 5px;
    border-style: outset;
    border-width: 2px;
}
button:hover {
    background-color: var(--dark-background-color);
    border-color: var(--text-color);
}
button:active {
    border-style: inset;
    background-color: var(--background-color);
}
button:disabled, button[disabled] {
    background-color: var(--background-color);
    border-color: var(--text-color);
    border-style: dotted;
}

.titleIcon {
    width: 24px;
    height: 24px;
}

.toggleBlock {
    border-style: solid;
    border-width: 1px;
    border-color: var(--text-color);
    border-radius: 4px 4px 0px 0px;
    padding: 3px;
    margin: 4px;
}
.toggleShow, .toggleHide {
    cursor: pointer;

}

.toggleShow {
}
.toggleShow::before {
    content: "▼ ";
}
.toggleShow + div {
    display: block;
}
.toggleHide {
}
.toggleHide::before {
    content: "▶ ";
}
.toggleHide + div {
    display: none;
}

#crafters > table > tbody > tr > th:nth-child(4),
#producers > table > tbody > tr > th:nth-child(3) {
    width: 110px;
    max-width: 110px;
}

#fal {
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: left;
    vertical-align: bottom;
    background-image: url("../images/faluche_big.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#level {
    display: inline-flex;
}
#level > button {
    display: inline-block;
}

#overlay {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #00000011;
}
#overlay.show {
    display: block;
}
#overlay.shade {
    transition: background-color 3s linear;
    background-color: #000000ee;
}
#overlayTitle {
    padding-top: 25%;
    font-size: 80px;
}
.loose {
    color: red;
}
.win {
    color: chartreuse;
}

.resource {
    display: inline-block;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 1px;
    text-align: right;
    min-width: 50px;
}
.availableResource > div > span {
    color: chartreuse;
}
.notAvailableResource > div > span {
    color: red;
}
.chanceOf {
    font-size: 7px;
}
#fal .resource {
    background-color: transparent;
    border-width: 0px;
    border-style: none;
}
.Level {

}
.Material {

}
.Item {

}

.resource_img {
    width : 24px;
    height: 24px;
    vertical-align: middle;
}
.resource_label {
    display: inline-block;
    padding-right: 2px;
}

progress {
    display: block;
    width: 80px;
    height: 2px;
    margin-top: 4px;
    border-style: none;
    border-width: 0px;
}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: white;
}
progress[value]::-webkit-progress-value {
    background-color: var(--text-color);
}